<template name="navTop">
<nav class="navbar navbar-static-top bg-black rm-margin-bottom rm-border">
	<div class="container">
		<div class="row">
			<p class="navbar-text navbar-left margin-top-30 margin-bottom-30 white">Sunway Student Volunteers</p>
		</div>
		<!-- <div class="row white">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
				<li><a href="#">About</a></li>
			</ul>
			<p class="navbar-text navbar-right">Built with love by <a href="#" class="navbar-link">TEDxSunwayUniversity</a></p>
		</div> -->
	</div>
</nav>
</template>
<!-- <nav class="navbar navbar-static-top bg-black">
		<div class="container">
				<div class="navbar-header">
						<a class="navbar-brand brand" href="/" title="Home">
								<img src="/img/TEDxSunwayUniversity_Logo_White.png" width="240px" class="img-responsive">
						</a>
				</div>
				<p class="navbar-text navbar-right">Built with love by <a href="#" class="navbar-link">TEDxSunwayUniversity</a></p>
		</div>
</nav> -->