<template name="about">
<section id="about" class="">
	<div class="container">
		<div class="row margin-top-30 margin-bottom-70">
			<div class="col-xs-12">
				<h2>About</h2>
			</div>
			<div class="col-xs-12 col-sm-8">
			<p>
				TEDxSunwayUniversity aims to vouch the motto of TED, “Ideas Worth Spreading”, through entertainment, technology, and design. TEDxSunwayUniversity also serves as an avenue for Sunway students to organize events which will focus on individuality and innovation. The students involved will gain a bundle of knowledge and experience through the events that will be held.
			</p>
			<p>
				The objectives of TEDxSunwayUniversity are to encourage students to be shaped by innovation, to encourage students to have confidence in their own ideas and to realize how powerful each ideas are, to promote the culture of public speaking, and to promote learning through observation and discussion.
			</p>
			<p>
				<a href="https://www.facebook.com/tedxsunway">Find out how you can join TEDxSunwayUniversity Committee</a>
			</p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<img src="/img/TEDxSunway.jpg" class="img-responsive">
			</div>
		</div>
	</div>
</section>
</template>