<template name="currentPresenters">
<ul class="media-list current">
	<li class="media margin-bottom-30">
		<div class="media-left padding-right-20">
			<a href="#">
				<img class="media-object" src="/img/presenters/Jansen.png" alt="Jansen">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading alt size-24">Dr. Jansen Luis Alexander</h4>
			<p>
				A professional Civil Engineer widely experienced in major power plant development particular hydroelectric and thermal projects. Dr. Jansen’s work embodies Beyond Status Quo in developing sustainable energy sources and has carried out various inspections and prepared reports on all major hydroelectric dam safety and associated structures.
			</p>
		</div>
	</li>
	<li class="media margin-bottom-30">
		<div class="media-left padding-right-20">
			<a href="#">
				<img class="media-object" src="/img/presenters/Desmond.png" alt="Desmond">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading alt size-24">Desmond Ng</h4>
			<p>
				A magician and mentalist, his deepest desire is to leave his audiences in awe and astonishment every single time! Growing up as a kid, he has always been fascinated about magic. At the age of 19, he took a bold step to go full fledge in magic and although this decision wasn’t well supported by many, he still continued his journey into the art of magic all by himself.
			</p>
		</div>
	</li>
	<li class="media margin-bottom-30">
		<div class="media-left padding-right-20">
			<a href="#">
				<img class="media-object" src="/img/presenters/Alex.png" alt="Alex">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading alt size-24">Alex Au-Yong</h4>
			<p>
				Alex believes in the idea of promoting quality education and has been working to raise money for charity through marathons (100KM Xtramile Run in 2011). He believes that sports can be used to create awareness on social problems in the community and inspire people to do their part in helping disadvantaged communities to grow.
			</p>
		</div>
	</li>
	<li class="media margin-bottom-30">
		<div class="media-left padding-right-20">
			<a href="#">
				<img class="media-object" src="/img/presenters/Zafran.png" alt="Zafran">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading alt size-24">Zafran Aqil</h4>
			<p>
				Zafran Aqil is one of the best yo-yo player in Malaysia and he has competed in many local and international competitions. The Malaysian Nation Yo-yo Contest 2014 champion is a skilled player of the craft.
			</p>
		</div>
	</li>
	<li class="media margin-bottom-30">
		<div class="media-left padding-right-20">
			<a href="#">
				<img class="media-object" src="/img/presenters/Kamarul.png" alt="Kamarul">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading alt size-24">Kamarul A. Muhamed</h4>
			<p>
				An experienced drone pilot, Kamarul had flown projects in various challenging locations around the world. He's one of the pioneers the founder of Aerodyne Geospatial working alongside international organisations such as National Geographic, Discovery Channel and Sime Darby.
			</p>
		</div>
	</li>
	<li class="media margin-bottom-30">
		<div class="media-left padding-right-20">
			<a href="#">
				<img class="media-object" src="/img/presenters/Derek.png" alt="Derek">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading alt size-24">Dr. Derek Ong</h4>
			<p>
				Dr. Derek is a passionate lecturer lecturing on the principles of marketing at Sunway University. Driven by his keen interest in marketing, Dr Derek hopes to inspire students to continue to push the conventional knowledge of marketing and expand upon what is most common thing and create out-of-the-box marketing.
			</p>
		</div>
	</li>
	<li class="media margin-bottom-30">
		<div class="media-left padding-right-20">
			<a href="#">
				<img class="media-object" src="/img/presenters/Diana.png" alt="Diana">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading alt size-24">Diana Lui</h4>
			<p>
				Diana Lui’s artistic work for the past 25 years revolves around the questions of identity and origin, it is a question that is becoming more changing with time. She is a skilled photographer with the 8x10in view camera and is an award winning photographer from competitions in Paris, London, Singapore and many others.
			</p>
		</div>
	</li>
</ul>
</template>