<template name="pastPresenters">
<ul class="media-list past">
	<li class="media margin-bottom-30">
		<div class="media-left padding-right-20">
			<a href="#">
				<img class="media-object" src="/img/presenters/240x141.png" alt="Heidy">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading alt size-24">Heidy Quah</h4>
			<p>

			</p>
		</div>
	</li>
	<li class="media margin-bottom-30">
		<div class="media-left padding-right-20">
			<a href="#">
				<img class="media-object" src="/img/presenters/240x141.png" alt="Yeen">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading alt size-24">Ng Yeen Seen</h4>
			<p>

			</p>
		</div>
	</li>
	<li class="media margin-bottom-30">
		<div class="media-left padding-right-20">
			<a href="#">
				<img class="media-object" src="/img/presenters/240x141.png" alt="Cody">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading alt size-24">Cody Coex Foo</h4>
			<p>

			</p>
		</div>
	</li>
	<li class="media margin-bottom-30">
		<div class="media-left padding-right-20">
			<a href="#">
				<img class="media-object" src="/img/presenters/240x141.png" alt="George">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading alt size-24">Assoc. Prof. Dr. George Lee</h4>
			<p>

			</p>
		</div>
	</li>
</ul>
</template>