<template name="presenters">
<section id="presenters" class="">
	<div class="container">
		<div class="row margin-top-30 margin-bottom-70">
			<div class="col-xs-12">
				<h2>Current Speakers</h2>
			</div>
			<div class="col-xs-12 col-sm-8">
				{{> currentPresenters }}
			</div>
			<div class="col-xs-12">
				<h2>Past Events</h2>
			</div>
			<div class="col-xs-12 col-sm-8">
				{{> pastPresenters }}
			</div>
			<div class="col-xs-12 col-sm-4">
			</div>
		</div>
	</div>
</section>
</template>