<template name="contact">
<section id="contact">
	<div class="container">
		<div class="row margin-top-30 margin-bottom-70">
			<div class="col-xs-12">
				<h2>Get in touch with us</h2>
			</div>
			<div class="col-xs-12 col-sm-8">
			<p>
				Sunway University<br>
				P.O. Box 46150<br>
				Bandar Sunway, Petaling Jaya<br>
				Selangor, Malaysia
			</p>
			<p>
				Interested in organizing your own TEDx-event? Find all details at <a href="http://www.ted.com/tedx">http://www.ted.com/tedx</a>
			</p>
			<p>
				Want to suggest a speaker or ask us about anything? Please contact us at <a href="mailto:info@tedxsunway.com">info@tedxsunway.com</a>
			</p>
			<p>
				Alternatively, our contact for enquiries concerning general TEDxSunwayUniversity could be found at:<br>
				Gary Lee <a href="mailto:president@tedxsunway.com">(email)</a><br>
				Phone: +60 12 911 4963<br><br>
				Nicole Wong <a href="mailto:admin@tedxsunway.com">(email)</a><br>
				Phone: +60 12 314 0090
			</p>
			</div>
		</div>
	</div>
</section>
</template>

<!-- TEDxAmsterdam Foundation
P.O. Box 75756
1070 AT Amsterdam
The Netherlands

Interested in organizing your own TEDx-event? Find all details at http://www.ted.com/tedx

Want to suggest a speaker? Please use this form

Our contact for press related questions concerning general TEDxAmsterdam inquiries:
Marilou Kersemaekers – email
Phone: +31 (0) 20 470 87 87 -->